<div class="container">
    <div class="post">
        <div class="header_post">
            <img src={{art.imageUrl}}
                alt="">
        </div>

        <div class="body_post">
            <div class="post_content">

                <h1>{{art.title}}</h1>
                <p>{{art.description}}</p>

                <div class="container_infos">
                    <div class="postedBy">
                        <span>author</span>
                        {{art.artist}}
                    </div>

                    <div class="container_tags">
                        <span>tags</span>
                        <div class="tags">
                            <ul>
                                <li>like</li>
                                <li><a routerLink="/details/{{art._id}}/edit">edit</a></li>
                                <li>delete</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>