<form #form="ngForm" (ngSubmit)="login(form)">
  <h1>Login</h1>
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" 
      name="email"
      placeholder="Enter Email"
      ngModel
      #inputEmail="ngModel"
      required
      minlength="5"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      >
      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail?.errors?.['required']">
          Email is required.
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['pattern']">
          Email is not valid!
        </p>
      </ng-container>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" 
      name="password"
      placeholder="Enter Password"
      ngModel
      #inputPassword="ngModel"
      required
      minlength="5"
      >
      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword?.errors?.['required']">
          Password is required.
        </p>
      </ng-container>
  
      <button type="submit">Login</button>
    </div>
  </form>