<section id="create-page" class="auth">
    <form id="create" #form="ngForm" (ngSubmit)="addPost(form)">
        <div class="card-container">
            <h1>Create your post</h1>
            <label for="Title">Title</label>
            <input type="text" id="title" name="title" placeholder="Enter title..." ngModel #inputTitle="ngModel"
                required minlength="5"/>
                <ng-container>
                    <p class="error" *ngIf="inputTitle?.errors?.['required']">
                      Input Title is required.
                    </p>
                  </ng-container>

            <label for="artist">Artist</label>
            <input type="text" id="artist" name="artist" placeholder="Enter artist..." ngModel #inputArtist="ngModel"
                required minlength="5"/>
                <ng-container>
                    <p class="error" *ngIf="inputArtist?.errors?.['required']">
                      Input Artist is required.
                    </p>
                  </ng-container>

            <label for="imageUrl">Image Url</label>
            <input type="text" id="imageUrl" name="imageUrl" placeholder="Enter imageUrl" ngModel
                #inputImageUrl="ngModel" required minlength="10"/>
                <ng-container>
                    <p class="error" *ngIf="inputImageUrl?.errors?.['required']">
                      Image Url is required.
                    </p>
                  </ng-container>

            <label for="description">Description</label>
            <textarea type="text" id="description" name="description" placeholder="description..." ngModel
                #inputDescription="ngModel" required minlength="4" maxlength="30" ></textarea>
                <ng-container>
                    <p class="error" *ngIf="inputDescription?.errors?.['required']">
                      Description is required.
                    </p>
                  </ng-container>

            <button class="btn" type="submit">Create Post</button>
        </div>
    </form>
</section>