<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
            src="https://res.cloudinary.com/dvyb9owk9/image/upload/v1710342718/Angular%20project/cuwtbsmio4lszwooflsw.jpg"
            alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Art Gallery from cool Artist</h1>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, corporis?</p>
        <p> You can add a post of your work, just click the button!</p>
        <a class="btn btn-primary" routerLink="/create">Add Post</a>
    </div>
</div>

<app-card-list/>